@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    background-image: linear-gradient(to bottom, #fff7e9, #ffe3e8);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

 }

 